/* first row */
.aboutfirst {
    padding-top: 100px;
    padding-bottom: 100px;
}

.aboutfirst img {
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.aboutfirst .firsttwo {
    text-align: justify;
    padding-right: 50px;
}

/* second row column */
.secondcol {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* second row column ICONS */
.secondcol a {
    font-size: 100px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    transition: transform 0.5s;
}

.secondcol a:hover {
    color: black;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px white;
}

/* Mobile screen */

@media only screen and (max-width: 600px) {
    /* first row */
    .aboutfirst {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .aboutfirst img {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .aboutfirst .firsttwo {
        padding-right: 20px;
        margin-top: 20px;
    }

    /* second row column ICONS */
    .secondcol a {
        font-size: 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
}
