/* whole navbar */
.navbar {
    position: fixed;
    transition: 0.5s;
}
.navbar h3{
    margin-left: 20px;
}
/* navbar on scroll */

/* home about project part all together */
.navbar-nav {
    margin-left: 800px;
}

/* particular tab */
.nav-link {
    color: white !important;
    font-size: xx-large !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-radius: 30px;
}

.nav-link:hover {
    text-decoration: underline;
    transform: scale(1.2, 1.2);
}