/* first row */
.homefirst {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* first row first column */
.homefirst .oneone {
    padding-left: 50px;
}

/* first row second column */
.homefirst .onetwo {
    text-align: center;
}

/* my image */
.vatsal-img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

/* second row whole column */
.homesecond .col {
    margin-top: 50px;
}

/* second row first column */
.homesecond img {
    width: 100%;
    height: auto;
}

/* second row second column */
.homesecond .twotwo {
    text-align: justify;
    padding-right: 50px;
}

/* -----------------------Mobile screen---------------------------- */

@media only screen and (max-width: 600px) {
    /* first row */
    .homefirst {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* first row first column */
    .homefirst .oneone {
        padding-left: 20px;
    }

    /* first row second column */
    .homefirst .onetwo {
        margin-top: 20px;
    }

    /* my image */
    .vatsal-img {
        width: 70%;
        margin-left: 15%;
    }

    /* second row first column */
    .homesecond img {
        width: 90%;
        margin-left: 5%;
    }

    /* second row second column */
    .homesecond .twotwo {
        padding-right: 20px;
    }
}
