body{
  background-size: auto;
  color: white;
  background-image: url(./images/wallpaper4.jpg);
}
 @media only screen and (max-width: 600px){
  body{
    background-size: auto;
    color: white;
    background-image: url(./images/wallpaper4.jpg);
  }
 }